*.pyc
.cache
env/venv
build
dist
install
results/mlir_tests/
results/models/
results/perf/
results/*.md
results/*.xlsx
third_party/toolchain
third_party/tt-mlir
third_party/vision
third_party/tt_forge_models
third_party/torch-mlir/*
!third_party/torch-mlir/src/
