accelerate
black
datasets
diffusers
gliner
kornia
librosa
loguru
matplotlib
mdutils
ml_dtypes
mlp_mixer_pytorch
nanobind
ninja
onnx
onnxruntime
opencv-contrib-python
openpyxl
pillow
pre-commit
protobuf
pybind11
pytest
pytest-cov
pytorchcv
scikit-build
scipy
sentencepiece
seaborn
setuptools
soundfile
tabulate
tiktoken
timm
torch@https://download.pytorch.org/whl/cpu-cxx11-abi/torch-2.6.0%2Bcpu.cxx11.abi-cp311-cp311-linux_x86_64.whl
transformers==4.47.1
wheel
xlsxwriter
