torch-mlir
torch==2.1.0
-f https://github.com/llvm/torch-mlir-release/releases/expanded_assets/dev-wheels
black
mdutils
ninja
pre-commit
pybind11
pytest
tabulate
transformers
protobuf
tiktoken
sentencepiece
pytorchcv
diffusers
scipy
accelerate
librosa
soundfile
matplotlib
mlp_mixer_pytorch
opencv-python
xlsxwriter
onnx
onnxruntime
openpyxl
