# This workflow automates running model tests.

name: Nighty Tests

on:
  schedule:
    - cron: '0 4 * * *'  # Runs at 04:00 UTC every day
  workflow_dispatch:  # Manual trigger


jobs:
  pre-commit:
    uses: ./.github/workflows/pre-commit.yml
    secrets: inherit
  spdx:
    uses: ./.github/workflows/spdx.yml
    secrets: inherit
  build:
    needs: [pre-commit, spdx]
    uses: ./.github/workflows/run-build.yml
    secrets: inherit
  test:
    needs: build
    uses: ./.github/workflows/run-model-tests.yml
    secrets: inherit
  download-report:
    needs: test
    uses: ./.github/workflows/generate-model-report.yml
    secrets: inherit
  generate-ttnn-md:
    needs: download-report
    uses: ./.github/workflows/generate-ttnn-md.yml
    secrets: inherit
