# This workflow automates running model tests.

name: Nightly Tests

on:
  push:
    branches:
      - hshah/add-phi-model-tests
  schedule:
    - cron: '0 4 * * *'  # Runs at 04:00 UTC every day
  workflow_dispatch:  # Manual trigger


jobs:
  pre-commit:
    uses: ./.github/workflows/pre-commit.yml
    secrets: inherit
  spdx:
    uses: ./.github/workflows/spdx.yml
    secrets: inherit
  docker-build:
    uses: ./.github/workflows/build-image.yml
    secrets: inherit
  build:
    needs: [pre-commit, spdx, docker-build]
    uses: ./.github/workflows/run-build.yml
    secrets: inherit
    with:
      docker-image: ${{ needs.docker-build.outputs.docker-image }}
  test_op_by_op:
    needs: [docker-build, build]
    uses: ./.github/workflows/run-op-by-op-model-tests.yml
    secrets: inherit
    with:
      docker-image: ${{ needs.docker-build.outputs.docker-image }}
  # test_e2e:
  #   needs: [docker-build, build]
  #   uses: ./.github/workflows/run-e2e-tests.yml
  #   secrets: inherit
  #   with:
  #     docker-image: ${{ needs.docker-build.outputs.docker-image }}
  # test_full_model:
  #   needs: [docker-build, build]
  #   uses: ./.github/workflows/run-full-model-execution-tests.yml
  #   secrets: inherit
  #   with:
  #     docker-image: ${{ needs.docker-build.outputs.docker-image }}
  # test_full_model_nightly:
  #   needs: [docker-build, build]
  #   uses: ./.github/workflows/run-full-model-execution-tests-nightly.yml
  #   secrets: inherit
  #   with:
  #     docker-image: ${{ needs.docker-build.outputs.docker-image }}
  # download-report:
  #   if: success() || failure()
  #   needs: test_op_by_op
  #   uses: ./.github/workflows/generate-model-report.yml
  #   secrets: inherit
  # generate-ttnn-md:
  #   if: success() || failure()
  #   needs: [download-report]
  #   uses: ./.github/workflows/generate-ttnn-md.yml
  #   secrets: inherit
  #   with:
  #     spreadsheet_name: ${{ needs.download-report.outputs.spreadsheet_name }}
