# This workflow automates creation of uplift pull requests.
# Uplift PR is created daily to uplift the submodule to the latest version.

name: Nightly Uplift

on:
  schedule:
    - cron: '0 1 * * *'  # Runs at 01:00 UTC every day
  workflow_dispatch:  # Manual trigger

jobs:
  uplift-pr:
    runs-on: ubuntu-latest

    env:
      SUBMODULE_PATH: third_party/tt-mlir
      MLIR_VERSION: origin/main

    steps:

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Fetch all history and tags
          ref: main

      - name: Set env variable
        run: |
          echo "TODAY=$(date +'%Y-%m-%d')" >> $GITHUB_ENV
          echo "CURRENT_COMMIT_SHA=$(grep -oP 'set\(TT_MLIR_VERSION "\K[^"]+' third_party/CMakeLists.txt)" >> $GITHUB_ENV
          echo "SUBMODULE_VERSION=${COMMIT_SHA}" >> $GITHUB_ENV

      - name: Update tt-mlir reference
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
            # Fetch the latest SHA using GitHub CLI
            LATEST_SHA=$(gh api repos/tenstorrent/tt-mlir/commits/main --jq '.sha')
            echo "LATEST_SHA=${LATEST_SHA}" >> $GITHUB_ENV
            # Update the CMakeLists.txt file with the new SHA
            sed -i "s/set(TT_MLIR_VERSION \".*\")/set(TT_MLIR_VERSION \"${LATEST_SHA}\")/" third_party/CMakeLists.txt

      - name: Fetch commit history from tt-mlir repository
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          # Clone the tt-mlir repository
          cd ${{ runner.temp }}
          echo "### List of tt-mlir commits since previous uplift:" > commit_list.txt
          git clone https://github.com/tenstorrent/tt-mlir.git tt-mlir
          cd tt-mlir
          # Fetch commit history between $COMMIT_SHA and LATEST_SHA
          git log --oneline ${{ env.CURRENT_COMMIT_SHA}}..${{ env.LATEST_SHA }} >>../commit_list.txt
          cd ..
          cat commit_list.txt

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        id: create-pr
        with:
          branch: uplift
          committer: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          author: ${{ github.actor }} <${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com>
          base: main
          commit-message: "Uplift ${{ env.SUBMODULE_PATH }} to ${{ env.SUBMODULE_VERSION }} ${{ env.TODAY }}"
          title: "Uplift ${{ env.SUBMODULE_PATH }} to ${{ env.SUBMODULE_VERSION }} ${{ env.TODAY }}"
          body: "This PR uplifts the ${{ env.SUBMODULE_PATH }} to the ${{ env.SUBMODULE_VERSION }}"
          labels: uplift
          delete-branch: true
          token: ${{ secrets.GH_TOKEN }}

      - name: Approve Pull Request
        if: ${{ steps.create-pr.outputs.pull-request-number }}
        env:
          GITHUB_TOKEN: ${{ secrets.GH_APPROVE_TOKEN }}
        run: |
          echo "Pull Request Number - ${{ steps.create-pr.outputs.pull-request-number }}"
          echo "Pull Request URL - ${{ steps.create-pr.outputs.pull-request-url }}"
          gh pr review ${{ steps.create-pr.outputs.pull-request-number }} --approve

      - name: Enable Pull Request Automerge and Add Comment with Commit List
        if: ${{ steps.create-pr.outputs.pull-request-number }}
        run: |
          gh pr merge --squash --auto "${{ steps.create-pr.outputs.pull-request-number }}"
          gh pr comment ${{ steps.create-pr.outputs.pull-request-number }} --body "$(cat ${{ runner.temp }}/commit_list.txt)"
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
