name: On push

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  pre-commit:
    uses: ./.github/workflows/pre-commit.yml
    secrets: inherit
  spdx:
    uses: ./.github/workflows/spdx.yml
    secrets: inherit
  docker-build:
    uses: ./.github/workflows/build-image.yml
    secrets: inherit
  build:
    needs: [pre-commit, spdx, docker-build]
    uses: ./.github/workflows/run-build.yml
    secrets: inherit
    with:
      docker-image: ${{ needs.docker-build.outputs.docker-image }}
      setup-args: "--build_perf" #TODO - This should be toggleable?
  test:
    needs: [build, docker-build]
    uses: ./.github/workflows/run-tests.yml
    secrets: inherit
    with:
      docker-image: ${{ needs.docker-build.outputs.docker-image }}
  # llmbox-tests:
  #   needs: [build, docker-build]
  #   uses: ./.github/workflows/run-multidevice-tests.yml
  #   secrets: inherit
  #   with:
  #     docker-image: ${{ needs.docker-build.outputs.docker-image }}
  full-model-test:
    needs: [build, docker-build]
    uses: ./.github/workflows/run-full-model-execution-tests.yml
    secrets: inherit
    with:
      docker-image: ${{ needs.docker-build.outputs.docker-image }}
      run-codecov: 'false'
