name: On push

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

permissions:
  packages: write
  checks: write

jobs:
  pre-commit:
    uses: ./.github/workflows/pre-commit.yml
    secrets: inherit
  spdx:
    uses: ./.github/workflows/spdx.yml
    secrets: inherit
  docker-build:
    uses: ./.github/workflows/build-image.yml
    secrets: inherit
  build:
    needs: [pre-commit, spdx, docker-build]
    uses: ./.github/workflows/run-build.yml
    secrets: inherit
    with:
      docker-image: ${{ needs.docker-build.outputs.docker-image }}
      setup-args: "--code_coverage --include-models --build_perf"
  build-release:
    needs: [pre-commit, spdx, docker-build]
    uses: ./.github/workflows/run-build.yml
    secrets: inherit
    with:
      docker-image: ${{ needs.docker-build.outputs.docker-image }}
      setup-args: "--include-models --build_perf"
      artifact-key: "-release"
  test:
    needs: [build, docker-build]
    uses: ./.github/workflows/run-tests.yml
    secrets: inherit
    with:
      docker-image: ${{ needs.docker-build.outputs.docker-image }}
  # llmbox-tests:
  #   needs: [build, docker-build]
  #   uses: ./.github/workflows/run-multidevice-tests.yml
  #   secrets: inherit
  #   with:
  #     docker-image: ${{ needs.docker-build.outputs.docker-image }}
  full-model-test:
    needs: [build, docker-build]
    uses: ./.github/workflows/run-full-model-execution-tests.yml
    secrets: inherit
    with:
      docker-image: ${{ needs.docker-build.outputs.docker-image }}
      run-codecov: 'false'
      run-dump-mlir: 'false'
  experimental-full-model-test:
    needs: [build, docker-build]
    uses: ./.github/workflows/run-experimental-full-model-execution-tests.yml
    secrets: inherit
    with:
      docker-image: ${{ needs.docker-build.outputs.docker-image }}
      run-codecov: 'false'
      run-dump-mlir: 'false'
