name: On PR

on:
  workflow_dispatch:
    inputs:
      mlir_override:
        description: 'Git SHA of commit in tenstorrent/tt-mlir'
        required: false
        type: string
  pull_request:
    branches: [ "main" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pre-commit:
    uses: ./.github/workflows/pre-commit.yml
    secrets: inherit
  spdx:
    uses: ./.github/workflows/spdx.yml
    secrets: inherit
  build:
    needs: [pre-commit, spdx]
    uses: ./.github/workflows/run-build.yml
    secrets: inherit
    with:
      mlir_override: ${{ github.event.inputs.mlir_override }}
  test:
    needs: build
    uses: ./.github/workflows/run-tests.yml
    secrets: inherit
    
  check-all-green:
    if: always()
    needs:
      - pre-commit
      - spdx
      - build
      - test
    runs-on: Ubuntu-latest
    steps:
    - name: Check if the needed jobs succeeded or failed
      uses: re-actors/alls-green@release/v1
      with:
        jobs: ${{ toJSON(needs) }}