name: Run Full Model Execution Tests

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      docker-image:
        description: 'Docker image to use for build'
        required: true
        type: string
      run-codecov:
        description: 'Run code coverage reports'
        required: false
        type: string # properly a boolean but autocast to string when passed in using 'with' inputs
        default: 'true'
  workflow_run:
    workflows: [Build] # backref to run-build as dependency
    types: [completed]

env:
  DOCKER_CACHE_ROOT: /mnt/dockercache

jobs:
  tests:
    timeout-minutes: 60 # current onPR time runs ~60m
    strategy:
      fail-fast: false
      matrix:
        build: [
          {
            runs-on: wormhole_b0, name: "eval_1", tests: "
                  tests/models/autoencoder_linear/test_autoencoder_linear.py::test_autoencoder_linear[full-eval]
                  tests/models/distilbert/test_distilbert.py::test_distilbert[full-distilbert-base-uncased-eval]
                  tests/models/mlpmixer/test_mlpmixer.py::test_mlpmixer[full-eval]
                  tests/models/yolov3/test_yolov3.py::test_yolov3[full-eval]
                  tests/models/yolov4/test_yolov4.py::test_yolov4[full-eval]
            "
          },
          {
            runs-on: wormhole_b0, name: "eval_2", tests: "
                  tests/models/mnist/test_mnist.py::test_mnist_train[full-eval]
                  tests/models/MobileNetV2/test_MobileNetV2.py::test_MobileNetV2[full-eval]
                  tests/models/openpose/test_openpose_v2.py::test_openpose_v2[full-eval]
                  tests/models/resnet/test_resnet.py::test_resnet[full-eval]
                  tests/models/resnet50/test_resnet50.py::test_resnet[full-eval]
                  tests/models/distilbert/test_distilbert.py::test_distilbert_multiloop[full-distilbert-base-uncased-eval-64]
                  tests/models/torchvision/test_torchvision_image_classification.py::test_torchvision_image_classification_generality[full-eval-vit_l_16]
                  tests/models/torchvision/test_torchvision_image_classification.py::test_torchvision_image_classification_generality[full-eval-vit_b_16]
                  tests/models/torchvision/test_torchvision_image_classification.py::test_torchvision_image_classification_generality[full-eval-vit_l_32]
                  tests/models/torchvision/test_torchvision_image_classification.py::test_torchvision_image_classification_generality[full-eval-vit_b_32]
            "
          },
          {
            runs-on: wormhole_b0, name: "eval_3", tests: "
                  tests/models/albert/test_albert_masked_lm.py::test_albert_masked_lm[full-albert/albert-xxlarge-v2-eval]
                  tests/models/torchvision/test_torchvision_image_classification.py::test_torchvision_image_classification_generality[full-eval-regnet_y_400mf]
                  tests/models/torchvision/test_torchvision_image_classification.py::test_torchvision_image_classification_generality[full-eval-regnet_y_800mf]
                  tests/models/torchvision/test_torchvision_image_classification.py::test_torchvision_image_classification_generality[full-eval-regnet_y_1_6gf]
                  tests/models/torchvision/test_torchvision_image_classification.py::test_torchvision_image_classification_generality[full-eval-regnet_y_3_2gf]
                  tests/models/torchvision/test_torchvision_image_classification.py::test_torchvision_image_classification_generality[full-eval-regnet_y_8gf]
                  tests/models/torchvision/test_torchvision_image_classification.py::test_torchvision_image_classification_generality[full-eval-regnet_y_16gf]
                  tests/models/torchvision/test_torchvision_image_classification.py::test_torchvision_image_classification_generality[full-eval-regnet_y_32gf]
            "
          },
          {
            runs-on: wormhole_b0, name: "eval_4", tests: "
                  tests/models/llama/test_llama_3b.py::test_llama_3b[full-meta-llama/Llama-3.2-3B-eval]
                  tests/models/torchvision/test_torchvision_image_classification.py::test_torchvision_image_classification_generality[full-eval-regnet_x_400mf]
                  tests/models/torchvision/test_torchvision_image_classification.py::test_torchvision_image_classification_generality[full-eval-regnet_x_800mf]
                  tests/models/torchvision/test_torchvision_image_classification.py::test_torchvision_image_classification_generality[full-eval-regnet_x_1_6gf]
                  tests/models/torchvision/test_torchvision_image_classification.py::test_torchvision_image_classification_generality[full-eval-regnet_x_3_2gf]
                  tests/models/torchvision/test_torchvision_image_classification.py::test_torchvision_image_classification_generality[full-eval-regnet_x_8gf]
                  tests/models/torchvision/test_torchvision_image_classification.py::test_torchvision_image_classification_generality[full-eval-regnet_x_16gf]
                  tests/models/torchvision/test_torchvision_image_classification.py::test_torchvision_image_classification_generality[full-eval-regnet_x_32gf]
            "
          },
          {
            runs-on: wormhole_b0, name: "eval_5", tests: "
                tests/models/perceiver_io/test_perceiver_io.py::test_perceiver_io[full-eval]
                tests/models/torchvision/test_torchvision_image_classification.py::test_torchvision_image_classification_generality[full-eval-mobilenet_v2]
                tests/models/torchvision/test_torchvision_image_classification.py::test_torchvision_image_classification_generality[full-eval-mobilenet_v3_small]
                tests/models/torchvision/test_torchvision_image_classification.py::test_torchvision_image_classification_generality[full-eval-mobilenet_v3_large]
                tests/models/torchvision/test_torchvision_image_classification.py::test_torchvision_image_classification_generality[full-eval-resnet18]
                tests/models/torchvision/test_torchvision_image_classification.py::test_torchvision_image_classification_generality[full-eval-resnet34]
                tests/models/torchvision/test_torchvision_image_classification.py::test_torchvision_image_classification_generality[full-eval-resnet50]
                tests/models/torchvision/test_torchvision_image_classification.py::test_torchvision_image_classification_generality[full-eval-resnet101]
                tests/models/torchvision/test_torchvision_image_classification.py::test_torchvision_image_classification_generality[full-eval-resnet152]
                tests/models/torchvision/test_torchvision_image_classification.py::test_torchvision_image_classification_generality[full-eval-resnext50_32x4d]
                tests/models/torchvision/test_torchvision_image_classification.py::test_torchvision_image_classification_generality[full-eval-resnext101_32x8d]
                tests/models/torchvision/test_torchvision_image_classification.py::test_torchvision_image_classification_generality[full-eval-resnext101_64x4d]
                tests/models/torchvision/test_torchvision_image_classification.py::test_torchvision_image_classification_generality[full-eval-wide_resnet50_2]
                tests/models/torchvision/test_torchvision_image_classification.py::test_torchvision_image_classification_generality[full-eval-wide_resnet101_2]
            "
          },
          {
            runs-on: n300, name: "eval_6", tests: "
                tests/models/llama/test_llama_7b_pipeline_parallel.py::test_llama_7b_pipeline_parallel[huggyllama/llama-7b-eval]
                tests/models/mistral/test_mistral.py::test_mistral[full-ministral3b-eval]
            "
          },
        ]
    runs-on:
      - ${{ matrix.build.runs-on }}

    name: "test execution (${{ matrix.build.runs-on }}, ${{ matrix.build.name }})"

    container:
      image: ${{ inputs.docker-image }}
      options: --user root --device /dev/tenstorrent/0 --shm-size=4gb
      volumes:
        - /dev/hugepages:/dev/hugepages
        - /dev/hugepages-1G:/dev/hugepages-1G
        - /etc/udev/rules.d:/etc/udev/rules.d
        - /lib/modules:/lib/modules
        - /opt/tt_metal_infra/provisioning/provisioning_env:/opt/tt_metal_infra/provisioning/provisioning_env
        - /mnt/dockercache:/mnt/dockercache
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
        lfs: true

    - name: Fetch job id
      id: fetch-job-id
      uses: tenstorrent/tt-github-actions/.github/actions/job_id@main
      with:
        job_name: "test execution (${{ matrix.build.runs-on }}, ${{ matrix.build.name }})" # reference above tests.name

    - name: Set reusable strings
      id: strings
      shell: bash
      env:
        JOB_ID: ${{ steps.fetch-job-id.outputs.job_id }}

      run: |
        echo "work-dir=$(pwd)" >> "$GITHUB_OUTPUT"
        echo "install-dir=$(pwd)/install" >> "$GITHUB_OUTPUT"
        echo "dist-dir=$(pwd)/dist" >> "$GITHUB_OUTPUT"
        echo "test_report_path_models=report_models_$JOB_ID.xml" >> "$GITHUB_OUTPUT"
        echo "test_report_dir=$(pwd)/test-reports" >> "$GITHUB_OUTPUT"

    - name: Use build artifacts
      uses: actions/download-artifact@v4
      with:
        name: install-artifacts
        path: ${{ steps.strings.outputs.install-dir }}

    - name: 'Untar install directory'
      shell: bash
      working-directory: ${{ steps.strings.outputs.install-dir }}
      run: |
        tar xvf artifact.tar
        mkdir -p ${{ steps.strings.outputs.dist-dir }}
        mv wheels/* ${{ steps.strings.outputs.dist-dir }}

    - name: install tt-torch
      shell: bash
      run: |
        source env/activate
        pip install ${{ steps.strings.outputs.dist-dir }}/*.whl

    - name: Run Full Model Execution Tests
      env:
        HF_HOME: ${{ env.DOCKER_CACHE_ROOT }}/huggingface
        TORCH_HOME: ${{ env.DOCKER_CACHE_ROOT }}/torch
        HF_TOKEN: ${{ secrets.HF_TOKEN }}
      shell: bash
      run: |
        source env/activate

        mkdir -p ${{ steps.strings.outputs.test_report_dir }}
        rm -f pytest.log

        # prevent script termination on failure
        set +e

        failure=0
        summary=""

        # Split the test string into individual tests and run them one by one
        while read -r test; do
          if [[ -n "$test" ]]; then
            echo "Running test: $test"
            report_file="${{ steps.strings.outputs.test_report_dir }}/$(echo $test | tr '/' '_' | tr ':' '_')__${{ steps.strings.outputs.test_report_path_models }}"
            echo "JUnitXML will be logged to $report_file"

            start_time=$(date +%s)

            pytest --durations=0 -v "$test" \
              --junit-xml="$report_file" \
              --cov=tt_torch --cov-report term --cov-report xml:coverage.xml --cov-append \
              2>&1 | tee -a pytest.log

            end_time=$(date +%s)
            duration=$((end_time - start_time))

            # Check the return code of pytest
            if [[ $? -ne 0 ]]; then
              echo "Test failed: $test"
              summary+="$test\t\033[31mFAILED\033[0m\tin ${duration}s\n" # Red for FAILED
              failure=1
            else
              echo "Test passed: $test"
              summary+="$test\t\033[32mPASSED\033[0m\tin ${duration}s\n" # Green for PASSED
            fi
          fi
        # execute while loop with process substitution so it doesn't run in a subshell and value of $failure is preserved
        done < <(echo "${{ matrix.build.tests }}" | tr ' ' '\n')

        # Print the summary at the end
        echo -e "\nTest Execution Summary:"
        echo -e "$summary"

        set -e

        # Exit with the appropriate code
        if [[ $failure -ne 0 ]]; then
          echo "One or more tests failed."
          exit 1
        else
          echo "All tests passed."
          exit 0
        fi

    - name: Upload Test Log
      uses: actions/upload-artifact@v4
      if: success() || failure()
      with:
        name: test-log-${{ matrix.build.runs-on }}-${{ matrix.build.name }}-${{ steps.fetch-job-id.outputs.job_id }}
        path: pytest.log

    - name: Upload Test Report Models
      uses: actions/upload-artifact@v4
      if: success() || failure()
      with:
        name: test-reports-models-${{ matrix.build.runs-on }}-${{ matrix.build.name }}-${{ steps.fetch-job-id.outputs.job_id }}
        path: ${{ steps.strings.outputs.test_report_dir }}

    - name: Upload coverage reports to Codecov
      if: ${{ (success() || failure()) && inputs.run-codecov == 'true' }}
      continue-on-error: true
      uses: codecov/codecov-action@v5
      with:
        files: coverage.info,.coverage,coverage.xml
        # disable_search: true
        token: ${{ secrets.CODECOV_TOKEN }}

    - name: Upload test results to Codecov
      if: ${{ (success() || failure()) && inputs.run-codecov == 'true' }}
      continue-on-error: true
      uses: codecov/test-results-action@v1
      with:
        files: ${{ steps.strings.outputs.test_report_path_models }}
        disable_search: true
        token: ${{ secrets.CODECOV_TOKEN }}
