name: Build

on:
  workflow_call:
    inputs:
      mlir_override:
        description: 'Git SHA of commit in tenstorrent/tt-mlir'
        required: false
        type: string
      docker-image:
        description: 'Docker image to use for build'
        required: true
        type: string
      setup-args:
        description: 'Arguments to pass to setup.py'
        required: false
        type: string
      artifact-key:
        description: 'Key to use for artifact upload'
        required: false
        type: string
    outputs:
      wheel-artifact-name:
        description: "The name of the built wheel's artifact"
        value: ${{ jobs.build.outputs.wheel-artifact-name }}
        

jobs:
  build:
    timeout-minutes: 120
    strategy:
      fail-fast: false
      matrix:
        build: [
          {runs-on: wormhole_b0, name: "run"},
        ]

    runs-on:
      - ${{ matrix.build.runs-on }}

    container:
      image: ${{ inputs.docker-image }}
      options: --device /dev/tenstorrent/0
      volumes:
        - /dev/hugepages:/dev/hugepages
        - /dev/hugepages-1G:/dev/hugepages-1G
        - /etc/udev/rules.d:/etc/udev/rules.d
        - /lib/modules:/lib/modules
        - /opt/tt_metal_infra/provisioning/provisioning_env:/opt/tt_metal_infra/provisioning/provisioning_env
        - /mnt/dockercache:/mnt/dockercache
    
    env: 
      WHEEL_ARTIFACT_NAME: install-artifacts${{ inputs.artifact-key }}
    outputs:
      wheel-artifact-name: ${{ steps.set-wheel-artifact-name.outputs.wheel-artifact-name}}

    steps:
    - uses: actions/checkout@v4

    - name: Override tt-mlir SHA mlir_override is set
      if: ${{ inputs.mlir_override }}
      shell: bash
      run: |
          # Update the CMakeLists.txt file with the new SHA
          sed -i "s/set(TT_MLIR_VERSION \".*\")/set(TT_MLIR_VERSION \"${{ inputs.mlir_override }}\")/" third_party/CMakeLists.txt

    - name: Set reusable strings
      id: strings
      shell: bash
      run: |
        echo "work-dir=$(pwd)" >> "$GITHUB_OUTPUT"
        echo "build-output-dir=$(pwd)/build" >> "$GITHUB_OUTPUT"

    - name: Git safe dir
      run: git config --global --add safe.directory ${{ steps.strings.outputs.work-dir }}

    - name: ccache
      uses: hendrikmuhs/ccache-action@v1.2
      with:
        create-symlink: true
        key: build_cache

    # Build project
    - name: Build
      shell: bash
      run: |
        source env/activate
        python setup.py bdist_wheel --code_coverage ${{ inputs.setup-args }}

    - name: Verify tt-mlir SHA override
      if: ${{ inputs.mlir_override }}
      continue-on-error: true
      shell: bash
      run: |
          cd third_party/tt-mlir
          branch_name=$(git rev-parse --abbrev-ref HEAD)
          commit_sha=$(git rev-parse HEAD)
          commit_title=$(git log -1 --pretty=%s)
          echo "Branch name: $branch_name"
          echo "Commit SHA: $commit_sha"
          echo "Commit title: $commit_title"
          echo "::notice::Using tt-mlir: $branch_name, commit: $commit_sha, title: $commit_title"
          cd ../..


    - name: Copy wheel and env directories
      shell: bash
      run: |
        mkdir artifacts
        cd artifacts
        mkdir wheels
        cp ../dist/*.whl wheels
        tar cvf artifact.tar .

    - name: Set wheel artifact name
      id: set-wheel-artifact-name 
      shell: bash
      run: |
        echo "wheel-artifact-name=$WHEEL_ARTIFACT_NAME" >> "$GITHUB_OUTPUT"

    - name: Upload artifacts to archive
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.WHEEL_ARTIFACT_NAME }}
        path: artifacts/artifact.tar
