name: Build

on:
  workflow_call:
    inputs:
      mlir_override:
        description: 'Git SHA of commit in tenstorrent/tt-mlir'
        required: false
        type: string
      docker-image:
        description: 'Docker image to use for build'
        required: true
        type: string
      setup-args:
        description: 'Arguments to pass to setup.py'
        required: false
        type: string
      artifact-key:
        description: 'Key to use for artifact upload'
        required: false
        type: string

jobs:
  build:
    timeout-minutes: 120
    runs-on: tt-beta-ubuntu-2204-large
    container:
      image: harbor.ci.tenstorrent.net/${{ inputs.docker-image }}

    steps:
    - uses: actions/checkout@v4
      with:
        repository: 'tenstorrent/tt-torch'

    - name: Override tt-mlir SHA mlir_override is set
      if: ${{ inputs.mlir_override }}
      shell: bash
      run: |
          # Update the CMakeLists.txt file with the new SHA
          sed -i "s/set(TT_MLIR_VERSION \".*\")/set(TT_MLIR_VERSION \"${{ inputs.mlir_override }}\")/" third_party/CMakeLists.txt

    - name: Set reusable strings
      id: strings
      shell: bash
      run: |
        echo "work-dir=$(pwd)" >> "$GITHUB_OUTPUT"
        echo "build-output-dir=$(pwd)/build" >> "$GITHUB_OUTPUT"

    - name: Git safe dir
      run: git config --global --add safe.directory ${{ steps.strings.outputs.work-dir }}

    - name: ccache
      uses: hendrikmuhs/ccache-action@v1.2
      with:
        create-symlink: true
        key: build_cache

    # Build project
    - name: Build
      shell: bash
      run: |
        source env/activate
        python setup.py bdist_wheel ${{ inputs.setup-args }}

    - name: Verify tt-mlir SHA override
      if: ${{ inputs.mlir_override }}
      continue-on-error: true
      shell: bash
      run: |
          cd third_party/tt-mlir/src/tt-mlir
          branch_name=$(git rev-parse --abbrev-ref HEAD)
          commit_sha=$(git rev-parse HEAD)
          commit_title=$(git log -1 --pretty=%s)
          echo "Branch name: $branch_name"
          echo "Commit SHA: $commit_sha"
          echo "Commit title: $commit_title"
          echo "::notice::Using tt-mlir: $branch_name, commit: $commit_sha, title: $commit_title"
          cd ../../../..


    - name: Copy wheel and env directories
      shell: bash
      run: |
        mkdir artifacts
        cd artifacts
        mkdir wheels
        cp ../dist/*.whl wheels
        tar cvf artifact.tar .

    - name: Upload artifacts to archive
      uses: actions/upload-artifact@v4
      with:
        name: install-artifacts${{ inputs.artifact-key }}
        path: artifacts/artifact.tar
