name: Run Op-By-Op Model Tests (Weekly)

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      docker-image:
        description: 'Docker image to use for build'
        required: true
        type: string
  workflow_run:
    workflows: [Build]
    types: [completed]

env:
  DOCKER_CACHE_ROOT: /mnt/dockercache

permissions:
  packages: write
  checks: write

jobs:
  tests:
    timeout-minutes: 360
    strategy:
      fail-fast: false
      matrix:
        build: [

          {
            runs-on: wormhole_b0, name: "albert", tests: "
              tests/models/albert/test_albert_masked_lm.py::test_albert_masked_lm[single_device-op_by_op_torch-albert-base-v2-eval]
              tests/models/albert/test_albert_masked_lm.py::test_albert_masked_lm[single_device-op_by_op_torch-albert-large-v2-eval]
              tests/models/albert/test_albert_masked_lm.py::test_albert_masked_lm[single_device-op_by_op_torch-albert-xlarge-v2-eval]
              tests/models/albert/test_albert_masked_lm.py::test_albert_masked_lm[single_device-op_by_op_torch-albert-xxlarge-v2-eval]
              tests/models/albert/test_albert_token_classification.py::test_albert_token_classification[single_device-op_by_op_torch-albert/albert-base-v2-eval]
              tests/models/albert/test_albert_sequence_classification.py::test_albert_sequence_classification[single_device-op_by_op_torch-textattack/albert-base-v2-imdb-eval]
              tests/models/albert/test_albert_question_answering.py::test_albert_question_answering[op_by_op_torch-twmkn9/albert-base-v2-squad2-eval]
              "
          },

          {
            runs-on: wormhole_b0, name: "bert", tests: "
              tests/models/distilbert/test_distilbert.py::test_distilbert[op_by_op_torch-distilbert-base-uncased-eval]
              tests/models/bert/test_bert.py::test_bert[large-op_by_op_torch-eval]
              tests/models/bert/test_bert_turkish.py::test_bert_turkish[single_device-op_by_op_torch-eval]
              tests/models/squeeze_bert/test_squeeze_bert.py::test_squeeze_bert[single_device-op_by_op_torch-eval]
              "
          },
          {
            runs-on: wormhole_b0, name: "bloom", tests: "
              tests/models/bloom/test_bloom.py::test_bloom[op_by_op_torch-eval]
              "
          },
          {
            runs-on: wormhole_b0, name: "codegen", tests: "
              tests/models/codegen/test_codegen.py::test_codegen[op_by_op_torch-eval]
              tests/models/codegen/test_codegen_generate.py::test_codegen_generate[op_by_op_torch-eval]
              "
          },
          {
            runs-on: wormhole_b0, name: "gpt", tests: "
              tests/models/gpt2/test_gpt2.py::test_gpt2[op_by_op_torch-eval]
              tests/models/gpt_neo/test_gpt_neo.py::test_gpt_neo[op_by_op_torch-eval]
              "
          },
          {
            runs-on: wormhole_b0, name: "llama", tests: "
              tests/models/llama/test_llama_3b.py::test_llama_3b[op_by_op_torch-meta-llama/Llama-3.2-3B-eval]
              tests/models/llama/test_llama_7b.py::test_llama_7b[op_by_op_torch-eval]
              "
          },
          {
            runs-on: wormhole_b0, name: "mamba", tests: "
              tests/models/mamba/test_mamba.py::test_mamba[op_by_op_torch-mamba-790m-hf-eval]
              "
          },
          {
            runs-on: wormhole_b0, name: "mobilenet", tests: "
              tests/models/mobilenet_ssd/test_mobilenet_ssd.py::test_mobilenet_ssd
              tests/models/MobileNetV2/test_MobileNetV2.py::test_MobileNetV2
              "
          },
          {
            runs-on: wormhole_b0, name: "openpose", tests: "
              tests/models/openpose/test_openpose_v2.py::test_openpose_v2[op_by_op_torch-eval]
              "
          },
          {
            runs-on: wormhole_b0, name: "resnet", tests: "
              tests/models/resnet50/test_resnet50.py::test_resnet[single_device-op_by_op_torch-eval]
              tests/models/resnet/test_resnet.py::test_resnet[single_device-op_by_op_torch-eval]
              "
          },
          {
            runs-on: wormhole_b0, name: "t5", tests: "
              tests/models/t5/test_t5.py::test_t5[op_by_op_torch-t5-small-eval]
              tests/models/t5/test_t5.py::test_t5[op_by_op_torch-t5-base-eval]
              tests/models/flan_t5/test_flan_t5.py::test_flan_t5[op_by_op_torch-eval]
              tests/models/t5/test_t5.py::test_t5[op_by_op_torch-t5-large-eval]
              "
          },
          {
            runs-on: wormhole_b0, name: "opt", tests: "
              tests/models/opt/test_opt.py::test_opt[op_by_op_torch-eval]
              "
          },
          {
            runs-on: wormhole_b0, name: "clip", tests: "
              tests/models/clip/test_clip.py::test_clip[op_by_op_torch-eval]
              "
          },
          {
            runs-on: wormhole_b0, name: "timm", tests: "
              tests/models/timm/test_timm_image_classification.py::test_timm_image_classification[single_device-op_by_op_torch-eval-hrnet_w18.ms_aug_in1k]
              tests/models/timm/test_timm_image_classification.py::test_timm_image_classification[single_device-op_by_op_torch-eval-dla34.in1k]
              tests/models/timm/test_timm_image_classification.py::test_timm_image_classification[single_device-op_by_op_torch-eval-mobilenetv1_100.ra4_e3600_r224_in1k]
              tests/models/timm/test_timm_image_classification.py::test_timm_image_classification[single_device-op_by_op_torch-eval-xception71.tf_in1k]
              tests/models/timm/test_timm_image_classification.py::test_timm_image_classification[single_device-op_by_op_torch-eval-ghostnet_100.in1k]
              tests/models/timm/test_timm_image_classification.py::test_timm_image_classification[single_device-op_by_op_torch-eval-tf_efficientnet_lite0.in1k]
              tests/models/timm/test_timm_image_classification.py::test_timm_image_classification[single_device-op_by_op_torch-eval-tf_efficientnet_lite1.in1k]
              tests/models/timm/test_timm_image_classification.py::test_timm_image_classification[single_device-op_by_op_torch-eval-tf_efficientnet_lite2.in1k]
              tests/models/timm/test_timm_image_classification.py::test_timm_image_classification[single_device-op_by_op_torch-eval-tf_efficientnet_lite3.in1k]
              tests/models/timm/test_timm_image_classification.py::test_timm_image_classification[single_device-op_by_op_torch-eval-tf_efficientnet_lite4.in1k]
              tests/models/timm/test_timm_image_classification.py::test_timm_image_classification[single_device-op_by_op_torch-eval-mixer_b16_224.goog_in21k]
              tests/models/timm/test_timm_image_classification.py::test_timm_image_classification[single_device-op_by_op_torch-eval-ese_vovnet19b_dw.ra_in1k]
              tests/models/timm/test_timm_image_classification.py::test_timm_image_classification[single_device-op_by_op_torch-eval-inception_v4.tf_in1k]
              "
          },
          {
            runs-on: wormhole_b0, name: "vision-misc", tests: "
              tests/models/perceiver_io/test_perceiver_io.py::test_perceiver_io[op_by_op_torch-eval]
              tests/models/mlpmixer/test_mlpmixer.py::test_mlpmixer[op_by_op_torch-eval]
              tests/models/mnist/test_mnist.py::test_mnist_train[single_device-op_by_op_torch-eval]
              tests/models/hardnet/test_hardnet.py::test_hardnet[single_device-op_by_op_torch-eval]
              "
          },
          {
            runs-on: wormhole_b0, name: "vision-transformers", tests: "
              tests/models/segformer/test_segformer.py::test_segformer[single_device-op_by_op_torch-eval]
              tests/models/deit/test_deit.py::test_deit[single_device-op_by_op_torch-eval]
              tests/models/beit/test_beit_image_classification.py::test_beit_image_classification[single_device-op_by_op_torch-base-eval]
              tests/models/beit/test_beit_image_classification.py::test_beit_image_classification[single_device-op_by_op_torch-large-eval]
              tests/models/detr/test_detr.py::test_detr[single_device-op_by_op_torch-eval]
              "
          },
          {
            runs-on: wormhole_b0, name: "yolo", tests: "
              tests/models/yolov3/test_yolov3.py::test_yolov3[op_by_op_torch-eval]
              tests/models/yolov4/test_yolov4.py::test_yolov4[op_by_op_torch-eval]
              tests/models/yolov5/test_yolov5.py::test_yolov5[op_by_op_torch-eval]
              tests/models/yolos/test_yolos.py::test_yolos[single_device-op_by_op_torch-eval]
              "
          },
          {
            runs-on: wormhole_b0, name: "mgp-str", tests: "
              tests/models/mgp-str-base/test_mgp_str_base.py::test_mgp_str_base[single_device-op_by_op_torch-eval]
              "
          },
          {
            runs-on: wormhole_b0, name: "musicgen_small", tests: "
              tests/models/musicgen_small/test_musicgen_small.py::test_musicgen_small[single_device-op_by_op_torch-eval]
              "
          },
          {
            runs-on: wormhole_b0, name: "dpr", tests: "
              tests/models/dpr/test_dpr.py::test_dpr[single_device-op_by_op_torch-eval]
              "
          },
          {
            runs-on: wormhole_b0, name: "roberta", tests: "
              tests/models/roberta/test_roberta.py::test_roberta[single_device-op_by_op_torch-eval]
              "
          },
          {
            runs-on: wormhole_b0, name: "whisper", tests: "
              tests/models/whisper/test_whisper.py::test_whisper[single_device-op_by_op_torch-eval]
              "
          },
          {
            runs-on: wormhole_b0, name: "torchvision_1", tests: "
              tests/models/torchvision/test_torchvision_image_classification.py::test_torchvision_image_classification[single_device-op_by_op_torch-eval-mobilenet_v2]
              tests/models/torchvision/test_torchvision_image_classification.py::test_torchvision_image_classification[single_device-op_by_op_torch-eval-mobilenet_v3_large]
              tests/models/torchvision/test_torchvision_image_classification.py::test_torchvision_image_classification[single_device-op_by_op_torch-eval-resnet152]
              tests/models/torchvision/test_torchvision_image_classification.py::test_torchvision_image_classification[single_device-op_by_op_torch-eval-resnext101_64x4d]
              tests/models/torchvision/test_torchvision_image_classification.py::test_torchvision_image_classification[single_device-op_by_op_torch-eval-vit_h_14]
              tests/models/torchvision/test_torchvision_image_classification.py::test_torchvision_image_classification[single_device-op_by_op_torch-eval-densenet201]
              "
          },
          {
            runs-on: wormhole_b0, name: "torchvision_2", tests: "
              tests/models/torchvision/test_torchvision_image_classification.py::test_torchvision_image_classification[single_device-op_by_op_torch-eval-vgg19]
              tests/models/torchvision/test_torchvision_image_classification.py::test_torchvision_image_classification[single_device-op_by_op_torch-eval-vgg19_bn]
              tests/models/torchvision/test_torchvision_image_classification.py::test_torchvision_image_classification[single_device-op_by_op_torch-eval-wide_resnet101_2]
              tests/models/torchvision/test_torchvision_image_classification.py::test_torchvision_image_classification[single_device-op_by_op_torch-eval-regnet_y_32gf]
              tests/models/torchvision/test_torchvision_image_classification.py::test_torchvision_image_classification[single_device-op_by_op_torch-eval-regnet_x_32gf]
              tests/models/torchvision/test_torchvision_image_classification.py::test_torchvision_image_classification[single_device-op_by_op_torch-eval-swin_b]
              "
          },
          {
            runs-on: wormhole_b0, name: "phi", tests: "
              tests/models/phi/test_phi_1_1p5_2.py::test_phi[op_by_op_torch-microsoft/phi-1-eval]
              tests/models/phi/test_phi_1_1p5_2.py::test_phi[op_by_op_torch-microsoft/phi-1.5-eval]
              tests/models/phi/test_phi_1_1p5_2.py::test_phi[op_by_op_torch-microsoft/phi-2-eval]
              "
          },
          {
            runs-on: wormhole_b0, name: "vit", tests: "
              tests/models/vit/test_vit.py::test_vit[op_by_op_torch-base-eval]
              tests/models/vit/test_vit.py::test_vit[op_by_op_torch-large-eval]
              "
          },
          {
            runs-on: wormhole_b0, name: "stable-diffusion-unet", tests: "
              tests/models/stable_diffusion/test_stable_diffusion_unet.py::test_stable_diffusion_unet[op_by_op_torch-eval]
              "
          },
          {
            runs-on: wormhole_b0, name: "EfficientNetb0", tests: "
              tests/models/EfficientNet/test_EfficientNet.py::test_EfficientNet[op_by_op_torch-efficientnet-b0-eval]
              "
          },
          {
            runs-on: wormhole_b0, name: "mistral", tests: "
              tests/models/mistral/test_mistral.py::test_mistral[op_by_op_torch-ministral3b-eval]
              "
          },
          {
            runs-on: wormhole_b0, name: "falcon3", tests: "
              tests/models/falcon/test_falcon3.py::test_falcon[op_by_op_torch-tiiuae/Falcon3-1B-Base-eval]
              tests/models/falcon/test_falcon3.py::test_falcon[op_by_op_torch-tiiuae/Falcon3-3B-Base-eval]
              "
          },
          {
            runs-on: wormhole_b0, name: "stable-diffusion-3.5", tests: "
              tests/models/stable_diffusion/test_stable_diffusion_transformer.py::test_stable_diffusion_transformer[op_by_op_torch-SD3.5-medium-transformer-eval]
              "
          },
          {
            runs-on: wormhole_b0, name: "unet", tests: "
              tests/models/unet/test_unet.py::test_unet[op_by_op_torch-eval]
              tests/models/unet_brain/test_unet_brain.py::test_unet_brain[op_by_op_torch-eval]
              tests/models/unet_carvana/test_unet_carvana.py::test_unet_carvana[op_by_op_torch-eval]
              "
          },
          {
            runs-on: wormhole_b0, name: "torchaudio", tests: "
              tests/models/seamless_m4t/test_seamless_m4t.py::test_seamless_m4t[op_by_op_torch-eval]
            "
          },
          {
            runs-on: wormhole_b0, name: "centernet", tests: "
              tests/models/centernet/test_centernet_onnx.py::test_centernet_onnx[op_by_op_stablehlo-centernet-od-resdcn18-eval]
              tests/models/centernet/test_centernet_onnx.py::test_centernet_onnx[op_by_op_stablehlo-centernet-od-resdcn101-eval]
              "
          },
          {
            runs-on: wormhole_b0, name: "flux", tests: "
              tests/models/flux/test_flux.py::test_flux[op_by_op_torch-dev-eval]
              tests/models/flux/test_flux.py::test_flux[op_by_op_torch-schnell-eval]
            "
          },
        ]
    runs-on:
      - ${{ matrix.build.runs-on }}

    name: "tests (${{ matrix.build.runs-on }}, ${{ matrix.build.name }})"

    container:
      image: ${{ inputs.docker-image }}
      options: --user root --device /dev/tenstorrent/0 --shm-size=4gb
      volumes:
        - /dev/hugepages:/dev/hugepages
        - /dev/hugepages-1G:/dev/hugepages-1G
        - /etc/udev/rules.d:/etc/udev/rules.d
        - /lib/modules:/lib/modules
        - /opt/tt_metal_infra/provisioning/provisioning_env:/opt/tt_metal_infra/provisioning/provisioning_env
        - /mnt/dockercache:/mnt/dockercache

    steps:
    - uses: actions/checkout@v4
    - name: Fetch job id
      id: fetch-job-id
      uses: tenstorrent/tt-github-actions/.github/actions/job_id@main
      with:
        job_name: "tests (${{ matrix.build.runs-on }}, ${{ matrix.build.name }})" # reference above tests.name

    - name: Set reusable strings
      id: strings
      shell: bash
      env:
        JOB_ID: ${{ steps.fetch-job-id.outputs.job_id }}
      run: |
        echo "work-dir=$(pwd)" >> "$GITHUB_OUTPUT"
        echo "install-dir=$(pwd)/install" >> "$GITHUB_OUTPUT"
        echo "dist-dir=$(pwd)/dist" >> "$GITHUB_OUTPUT"
        echo "test-output-dir=$(pwd)/results/models/tests/" >> "$GITHUB_OUTPUT"

    - name: Git safe dir
      run: git config --global --add safe.directory ${{ steps.strings.outputs.work-dir }}

    - name: Use build artifacts
      uses: tenstorrent/tt-forge/.github/actions/download-artifact@main
      with:
        name: install-artifacts
        path: install

    - name: install tt-torch
      shell: bash
      run: |
        source env/activate
        mkdir -p ${{ steps.strings.outputs.dist-dir }}
        mv install/wheels/* ${{ steps.strings.outputs.dist-dir }}
        pip install ${{ steps.strings.outputs.dist-dir }}/*.whl

    - name: Run Model Tests
      env:
        HF_HOME: ${{ env.DOCKER_CACHE_ROOT }}/huggingface
        TORCH_HOME: ${{ env.DOCKER_CACHE_ROOT }}/torch
        HF_TOKEN: ${{ secrets.HF_TOKEN }}
      shell: bash
      run: |
        source env/activate

        # Make sure we don't stop on first failure
        set +e

        tests_list=$(echo "${{ matrix.build.tests }}" | xargs -n1 echo)
        total_tests=$(echo "$tests_list" | wc -l)

        failures=0
        counter=0

        for test_case in $tests_list; do
          counter=$((counter + 1))

          pytest_log="test_${counter}.log"

          pytest -svv "$test_case" > "$pytest_log" 2>&1
          exit_code=$?

          echo "====== BEGIN LOG: $test_case ======" >> full_job_output.log
          cat "$pytest_log" >> full_job_output.log
          echo "====== END LOG: $test_case ========" >> full_job_output.log
          echo >> full_job_output.log
          rm "$pytest_log"

          if [ $exit_code -eq 0 ]; then
            echo "[ $counter / $total_tests ] $test_case PASSED"
          else
            echo "[ $counter / $total_tests ] $test_case FAILED"
            failures=$((failures + 1))
          fi
        done


        # If any test failed, exit nonzero to mark the job as failed
        if [ $failures -ne 0 ]; then
          echo "Total failures: $failures"
          exit 1
        fi

    - name: Tar results
      if: success() || failure()
      shell: bash
      run: |
        TEST_DIR="${{ steps.strings.outputs.test-output-dir }}"
        OUTPUT_TAR="${{ matrix.build.name }}_${{ steps.fetch-job-id.outputs.job_id }}.tar"

        if [ ! -d "$TEST_DIR" ]; then
          echo "WARNING: Test output dir '$TEST_DIR' does not exist. Please check if test ran properly. Skipping tar."
        else
          cd "$TEST_DIR"
          tar cvf "$OUTPUT_TAR" .
        fi

    - name: Upload test folder to archive
      if: success() || failure()
      uses: actions/upload-artifact@v4
      with:
        name: test-reports-weekly-${{ matrix.build.name }}.tar
        path: ${{ steps.strings.outputs.test-output-dir }}/${{ matrix.build.name }}_${{ steps.fetch-job-id.outputs.job_id }}.tar

    - name: Upload full logs
      if: success() || failure()
      uses: actions/upload-artifact@v4
      with:
        name: full-logs-weekly-${{ matrix.build.name }}
        path: full_job_output.log
