# This workflow automates running model tests.

name: Weekly Tests

on:
  schedule:
    - cron: '0 10 * * 6' # Runs at 10:00 UTC every Saturday, 6 hours after Nightly Tests
  workflow_dispatch:  # Manual trigger

jobs:
  pre-commit:
    uses: ./.github/workflows/pre-commit.yml
    secrets: inherit
  spdx:
    uses: ./.github/workflows/spdx.yml
    secrets: inherit
  docker-build:
    uses: ./.github/workflows/build-image.yml
    secrets: inherit
  build:
    needs: [pre-commit, spdx, docker-build]
    uses: ./.github/workflows/run-build.yml
    secrets: inherit
    with:
      docker-image: ${{ needs.docker-build.outputs.docker-image }}
      setup-args: "--include-models"

  # Just run weekly set of op-by-op tests which are op-by-op models that are already
  # covered in full-model-execute, and in general should remain passing. Don't bother
  # running the nightly set of op-by-op tests again.
  test_op_by_op_weekly:
    needs: [docker-build, build]
    uses: ./.github/workflows/run-op-by-op-model-tests-weekly.yml
    secrets: inherit
    with:
      docker-image: ${{ needs.docker-build.outputs.docker-image }}
  download-report:
    if: success() || failure()
    needs: [test_op_by_op_weekly]
    uses: ./.github/workflows/generate-model-report.yml
    secrets: inherit
  generate-ttnn-md:
    if: success() || failure()
    needs: [download-report]
    uses: ./.github/workflows/generate-ttnn-md.yml
    secrets: inherit
    with:
      spreadsheet_name: ${{ needs.download-report.outputs.spreadsheet_name }}
